body{
    background: linear-gradient(to right,black,grey,black);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;/* agar texs & tombol bisa di atas gambar */
    display: inline-flex;
}
.container img{
    justify-content: center;
    width: 900px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 200, 255, 0.7),0 0 50px rgba(0, 200, 255, 0.5);
    transform: scale(1.05);
}

.container img:hover{
    box-shadow: 0 0 35px rgba( 0, 255, 255, 0.9),0 0 70px rgba(0, 255, 0.6);
    transform: scale(1.05);
}

.container .text{
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.container .btn{
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 10px 20px;
    background-color: #00bfff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 200, 255, 0.8);
    transition: 0.3s;
}

.xontainer.btn:hover{
    background-color: #009acd;
    transform: scale(1.05);
}

.container img:hover{
    box-shadow: 0 0 35px rgba(0, 255, 255, 0.9), 0 0 70px rgba(0, 255, 255, 0.6);
    transform: scale(1.05);
}